
1 VERSIONINFO
  FILEVERSION 1,0,0,963
  PRODUCTVERSION 1,0,0,963
  FILEFLAGSMASK 0x3FL
  FILEFLAGS 0x1L
  FILEOS 0x4L
  FILETYPE 0x1L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo" BEGIN
    BLOCK "041904E3" BEGIN
      VALUE "OriginalFilename", "ecv10.exe"
      VALUE "LegalTrademarks", ""
      VALUE "ProductVersion", "1.0.0.0"
      VALUE "ProductName", "Ergo manga reader"
      VALUE "LegalCopyright", "Copyright \xA9 2012 AnkhZet"
      VALUE "FileDescription", "Ergo Manga Reader v1.0"
      VALUE "CompanyName", "AnkhZet"
      VALUE "InternalName", "EMR"
      VALUE "FileVersion", "1.0.0.963"
    END
  END
  BLOCK "VarFileInfo" BEGIN
    VALUE "Translation", 0x0419, 1251 // Русский (Россия)
  END
END

